/* just set margins to have metric units */

.paginator .header > .margin {
  margin: 1cm 1.5cm;
}

.paginator .footer > .margin {
  margin: 1cm 1.5cm;
}

.paginator .content > .margin {
  margin: 2cm;
}

/* set page size to A4 */

.paginator .page {
  width: 210mm;
  height: 297mm;
}
