.paginator, .paginator * {
  box-sizing: border-box;
}

/* Hide the models */
.paginator > .model {
  display: none;
}

.paginator .page {
  border: 1px solid;
  overflow: hidden; /* You can't have run-off content outside the pages :P */
}

@media only screen {
  .paginator .page > .padding {
    position: absolute;
  }

  .paginator .page {
    position: relative;
    border-color: #000;
  }

  .paginator .page > .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .paginator .page > .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  /* viewport padding, because you can't scroll further down or right */
  .paginator .page::after {
    content: ' ';
    display: block;
    position: absolute;
  }
}

@media only print {
  .paginator .content > .margin {
    margin-bottom: 0 !important;
  }

  .paginator .page {
    border-color: transparent;
    page-break-inside: avoid;
  }

  .paginator .page > .header {
    position: fixed;
    top: 0;
    left: 0;
  }

  .paginator .page > .footer {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
