.paginator, .paginator * {
  box-sizing: border-box;
}

.paginator > .model {
  display: none;
}

.paginator .page {
  border: 1px solid;
}

@media only screen {
  .paginator .page > .padding {
    position: absolute;
  }

  .paginator .page {
    position: relative;
    border-color: #000;
  }

  /* customizable page params */

  .paginator .header > .margin {
    margin: 0.5in 1in;
  }

  .paginator .footer > .margin {
    margin: 0.5in 1in;
  }

  .paginator .content > .margin {
    margin: 1in;
  }

  .paginator .page {
    overflow: hidden;
  }

  .paginator .page + .page {
    margin-top: 30px;
  }

  .paginator .view {
    margin: 30px;
  }

  .paginator .page::after {
    bottom: -30px;
    right: -30px;
    width: 30px;
    height: 30px;
  }

  .paginator .page > .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .paginator .page > .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  /* viewport padding, because you can't scroll further down or right */
  .paginator .page::after {
    content: ' ';
    display: block;
    position: absolute;
  }
}

@media only print {
  .paginator .content > .margin {
    margin-bottom: 0 !important;
  }

  .paginator .page {
    border-color: transparent;
    page-break-inside: avoid;
  }

  .paginator .page > .header {
    position: fixed;
    top: 0;
    left: 0;
  }

  .paginator .page > .footer {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

/* customizable page params */

.paginator .header > .margin {
  margin: 0.5in 1in;
}

.paginator .footer > .margin {
  margin: 0.5in 1in;
}

.paginator .content > .margin {
  margin: 1in;
}

.paginator .page {
  width: 8.5in;
  height: 11in;
  background-color: #fff;
}
